<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBPpc9IFb5HJK-C-ejmTjUaZn1N1AxhCyA</string>
	<key>GCM_SENDER_ID</key>
	<string>1005265932079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authentication</string>
	<key>PROJECT_ID</key>
	<string>authsys-bdb6d</string>
	<key>STORAGE_BUCKET</key>
	<string>authsys-bdb6d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005265932079:ios:f44f903d2eb6616e30dbda</string>
</dict>
</plist>